<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/ab5f5b9596.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <h1>boardTest</h1>
  <div class="container">
    <div class="left">
      <form id="form">
        <label for="post">post</label>
        <br></br>
        <textarea name="post" id="input" cols="30" rows="10"></textarea>
        <br></br>
        <div id="msg"></div>
        <button type="submit">작성</button>
      </form>
    </div>
    <div class="right">
      <h3>here</h3>
      <div id="posts">
        <div>
          <p>testboard</p>
          <span class="options">
            <i class="fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-trash"></i>
          </span>
        </div>
        <div>
          <p>TestBoard2</p>
          <span>
            <i class="fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-trash"></i>
            <i></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>